.parallax-window {
    display: flex;
    justify-content: center;
    height: 500px;
    background: transparent;
    padding: 0px;
}
#hello_text{
    
    text-align: center;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 60pt;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    color: rgb(10,10,10);

    position: relative;
    resize: horizontal;


    margin: auto;
    padding:0px ;

}

.hello_canv{
mix-blend-mode: darken;
    z-index: -1;
    position: relative;
    margin:0px;
    padding:0px;

}
#hello_cont{

    position: relative;
    display: table;
    margin:0px;
    padding:0px;
    resize: horizontal;

}
#hello_text_cont{
    position: absolute;
    width:100%;
    height:100%;
    resize: horizontal;

      display: flex;
  flex-direction: column;
  justify-content: center;

}

body{
    margin: 0px;
/*    overflow-y: scroll;
    overflow-x: hidden;*/
}

.content_cont{
    opacity: 1;
    display: block;
    margin-top: 4%;
    margin-left:20%;
    border: 1px red dotted;
    padding:0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18pt;
    width:20%;
    height: 200px;
}
.content_subheader{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 23pt;
}
.content_left{
    font:inherit;
}

.content p{

}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
